.input_box {
  display: flex;
  border: 1px solid var(--inactive);
  border-radius: var(--rounded);
}
.input_icon {
  font-size: var(--text-sm);
  color: var(--paragraph);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.7rem;
}
.input_box input {
  width: 100%;
  border-radius: var(--rounded);
  padding: 1.6rem;
}
